/* STUDENT DISCIPLINE */

/* REQUEST GOOD MORAL */
.request-container img {
    width: 35%;
    height: auto;
    margin-left: 44%;
    margin-top: 3%;
}

.request-content {
    border-radius: 5px;
    width: 40%;
    height: 65%; 
    margin-left: 42%;
    padding: 30px;
    margin-top: 10%;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputs {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    color: black;
    outline: none;
}

input[type="datetime-local"]{
    color: black;
    padding: 5px;
    outline: none;
    border: none;
    margin-bottom: 5%;
    border-bottom: 1px #333;
    
}
.request-btn {
    text-align: center;
    margin-top: 1%; 
    margin-left: 28.8%;
}

.myButton1 {
   
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    margin-left: 40%;
}

.myButton1:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.myButton1:active {
    position: relative;
    top: 1px;
}
