{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Case Details</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .container {
        text-align: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        margin-top: 20px;
    }
</style>
</head>
<body>
    <div class="container">
        <h3>Name: {{case.student.lastname}}, {{case.student.firstname}} {{case.student.middlename}}</h3>
        <p>Violation: {{case.violation}}</p>
        <p>Description: {{case.description}}</p>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
            </form>
        </div>
    </div>
</body>
</html>